@import url("https://fonts.googleapis.com/css2?family=Cabin&family=Oxygen:wght@300&family=Poppins:wght@300&family=Sofia+Sans+Semi+Condensed:ital,wght@1,300&family=Source+Sans+Pro:wght@300&display=swap&family=Lobster&family=Montserrat&family=Source+Code+Pro&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@700&family=Lobster&family=Montserrat&family=Pacifico&family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@700&family=Libre+Baskerville:ital@1&family=Lobster&family=Montserrat&family=Pacifico&family=Source+Code+Pro&display=swap');



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* --color1: #ffb003; */
  --bg-gradient-color1: linear-gradient(
    30deg,
    rgb(0, 98, 255) 75%,
    rgba(0, 98, 255, 0.652) 20%
  );
  --bg-color1: rgb(0, 98, 255);
  --light-bg-color1: rgba(217, 227, 241, 0.386);
  --very-light-bg-color: rgb(239, 239, 240);
  --light-blue-color: rgb(66, 101, 158);
}

body {
  width: 100%;
  font-family: "Oxygen", sans-serif;
  position: relative;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

.colored-p {
  color: var(--light-blue-color);
}

.centered {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-form-btn {
  font-size: 15px;
  padding: 10px 15px !important;
}

.formIsValid {
  cursor: not-allowed;
  opacity: 0.6;
}
