.header {
    margin: 0;
    padding: 0.4rem 4rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: rgb(139, 139, 139); */
    background-color: var(--very-light-bg-color);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
}


.navbar {
    flex: 1;
    text-align: right;
}

.navbar ul li {
    display: inline-block;
}

.navbar ul li {
    list-style: none;
}

.navbar ul li a {
    color: black;
    text-decoration: none;
    margin: 0 5px;
    padding: 7px 10px;
    font-family: 'Cabin', sans-serif;
    transition: 0.3s ease-in;
    border-radius: 10px;
    position: relative;
}

.navbar ul li a:hover 
{
    background: var(--bg-gradient-color1);
    color: white;
}

.navbar ul li a:hover.active::after{
    display: none;
}

.active::after{
    content: '';
    width: 90%;
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 2px;
    background: black;
}

.authentication {
    display: inline-block;
    margin: 0 2rem;
}

.user-name {
    margin-right: 20px;
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.user-name i {
    font-family: 'Roboto Mono', monospace;
    opacity: 0.8;
}

.user-name:active {
    color: var(--bg-color1);
}

.login-btn, .signup-btn {
    margin: 0 5px;
}

.cart_btn{
    text-decoration: none;
    color: black;
    background-color: transparent;
    border: none;
    position: relative;
    cursor: pointer;
}

.cart_btn_icon{
    font-size: 24px;
}

.cart_btn span {
    position: absolute;
    top: -7px;
    left: 14px;
    background-color: var(--bg-color1);
    color: white;
    /* padding: 4px 5px; */
    width: 16px;
    height: 16px;
    border-radius: 50%;
    font-size: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart_btn:hover span {
    background-color: black;
}

.userAccountMenu {
    position: absolute;
    top: 2.71rem;
    left: 25rem;
    width: 14rem;
    /* height: 20rem; */
    z-index: 10;
    background: linear-gradient(to right, #00093c, #2d0b00);
    border: 1px solid white;
    padding: 2rem 1rem;
    color: white !important;
    text-align: left;
    transition: all 0.4s ease-in;
}

.showOptions {
    /* top: 2.97rem; */
    left: -2rem;
}

.userDetail {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.userDetail h4 {
    font-family: 'Secular One', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.userDetail p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #c9d1d9;
    font-weight: 500;
}

.userDetail span {
    background-color: #fff;
    color: black;
    padding: 8px 10px;
    border-radius: 50%;
    margin-right: 15px;
}

.userOptions {
    padding-left: 10px;
    margin-top: 1rem;
}

.userOptions li {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    margin-bottom: 13px; 
    cursor: pointer;
    display: flex;
    color: white;
    align-items: center;
    }

.userOptions li a {
    color: white !important;
}

/* .userOptions li:before{
    content: "";
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 50%;
    background-color: white;
    margin-right: 10px;
} */